/* header */

.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  background: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 10;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.logo{
  display: inline-flex;
  align-items: center;
}

.title{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding-left: 10px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav span{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}


/* div{
  border: .25px solid grey;
}

/*body */

.column{
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  z-index: 1;
}


.large{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 630px;

}

.medium{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

}

.small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 240px;

}

.story{
  display: flex;
  flex-direction: column;

}

.mother{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
}

.cats{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}


.quarter{
  display: flex;
  flex-direction: column;
  /* 4 justify-content: space-between; */
}

.small_story{
  display: flex;
  justify-content: space-between;
}

.story1{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.story2{
  display: flex;
  flex-direction: column;
  width: 45%;
}


.bottom{
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.earth h2,
.cameras h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}


.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-repeat: no-repeat;
  display: flex;
  width: 45%;
}


.cameras{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-repeat: no-repeat;
  display: flex;
  width: 45%;
}


p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.newsbites{
  font-size: 16px;
  font-weight: bold;
}

.newsbites_text p{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid black;
}

.footer{
  display: flex;
  height: 300px;
  background-color: MediumAquamarine;
  margin-top: 50px;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;

}

.footer .logo{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

.footer span{
  text-decoration: underline;
  padding: 10px;
}

.footer p{
  font-family: Verdana;
  font-size: 12px;
}

.line2{
  display: flex;
  justify-content: center;
}
