/* header */

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: inline-flex;
  align-items: center;
}

.title{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding-left: 10px;
}

.nav{
  display: flex;
  align-items: center;
}

span{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}


div{
  border: .25px solid grey;
}

/*body */

.column{
  display: flex;
  justify-content: space-around;
}


.large{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 630px;

}

.medium{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

}

.small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 240px;
  margin-left: 30px;

}

.story{
  display: flex;
  flex-direction: column;

}

.mother{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.cats{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}


.quarter{
  display: flex;
  flex-direction: column;
  /* 4 justify-content: space-between; */
}

.small_story{
  display: flex;
}



.bottom{
  display: flex;
  justify-content: space-between;
  height: 300px;

}

.earth h2,
.cameras h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;


}


.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-repeat: no-repeat;
  display: flex;
  width: 45%;

}


.cameras{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-repeat: no-repeat;
  display: flex;
  width: 45%;
}


p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
